body{
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
    color: #d2fdff;
    background-color: #626c8b;
}
.header{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding: 20px;
    
    background-color: #303c6c;
    font-size: 60px;
    font-weight: 800;
}

.main_space{
    background-color: #626c8b;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info{
    padding: 10px;
    max-width: 400px;
    background-color:  #303c6c;
    border-radius: 10px;
}

#game_space{
    height: 600px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
}

.cell{
    aspect-ratio: 1/1;
    box-sizing: border-box;
    border: #bab8d44b solid 1px;
    border-radius: 2px;

    margin: 0.5px;
}

.active{
    background-color:#d2fdffc2;
}

.buttonbox{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

button{
    flex: 1 0 auto;
    padding: 10px;

    background-color: #303c6c;
    color: #d2fdff;
    border: #d2fdff solid 2px;
    border-radius: 5px;

    font-size: 20px;
    text-align: center;
}

.slidecontainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 10px;
    text-align: center;
}