body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    color: #303030;
}
.header_space{
    display: flex;
    justify-content: space-between;
    

    background-color: #303c6c;
    color: #d2fdff;
}

.main_space{
    background-color: #fbe8a6
}
