body{
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
    color: #303030;
    background-color: #fbe8a6;
}
.header{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
    background-color: #303c6c;
    color: #d2fdff;
    font-size: 60px;
}

.main_space{
    background-color: #fbe8a6;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info{
    padding: 10px;
    background-color: #f4976c;
    border-radius: 10px;
}

#game_space{
    /* margin: 0 5vw; */
    height: 600px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row{
    display: flex;
}

.cell{
    aspect-ratio: 1/1;
    box-sizing: border-box;
    border: #aaa96e41 solid 1px;
    border-radius: 2px;

    margin: 0.5px;
}

.active{
    background-color: #303c6c;
}
